@using System.Security.Principal

<ul class="navbar-nav flex-grow-1">
    @if (User.Identity?.IsAuthenticated == true)
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Hello @User.Identity?.Name!</span>
        </li>

        <li class="nav-item">
            <form method="post" asp-controller="Auth" asp-action="SignOut">
                <button type="submit" class="nav-link text-dark">Sign Out</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="SelectAuthenticationSource">Sign in</a>
        </li>
    }
</ul>
